<section>
    <h1>LinkedIn</h1>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="lokiastari"><a class="LI-simple-link" href='https://www.linkedin.com/in/lokiastari?trk=profile-badge'>Martin York</a></div>
</section>

